/*Estilo para tablet*/

@media only screen and (min-width: 788px) and (max-width: 979px) {
    .qualidade:after {
        right: 66px;
    }
    .qualidade_lista li {
        padding: 0 10px;
    }
    .footer_redessociais ul li a {
        border: 3px solid #0A8F3B;
        display: block;
        padding: 6px;
    }
    .footer_redessociais ul li a img {
        width: 26px;
        height: 26px;
    }
    /*Prudots*/
    .produto_item h2 {
        top: -150px;
        text-align: center;
        margin-bottom: -56px;
    }
    .produto_icone {
        padding: 41px 0;
    }
    .produto_info p {
        font-size: 14px;
        line-height: 20px;
        height: 122px;
        padding: 20px 30px;
    }
    .produto_info ul li {
        background: #0A8F3B;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        float: left;
        width: 181px;
        height: 49px;
        text-align: center;
        padding-top: 16px;
    }
    .contato_mapa iframe {
        width: 700px;
        height: 600px;
    }
}


/*Estilo para SmartPhone*/

@media only screen and (max-width: 787px) {
    .base {
        display: block;
    }
    .introducao img {
        margin: 75px 200px 75px 200px;
    }
    .introducao p {
        margin: 20px auto;
    }
    .fomulario_inicio div {
        margin: 20px auto;
        border: none;
    }
    .fomulario_inicio img {
        /* topo | direita | inferior | esquerda */
        /* margin: 75px 200px 75px 200px; */
    }
    .fomulario_inicio div {
        /* topo | direita | inferior | esquerda */
        /* margin: 10px auto;
        border: none; */
    }
    .fomulario_inicio div h1 {
        /* text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 30px;
        letter-spacing: 0.01em;
        color: #ffffff;
        margin-top: 8px; */
    }
    .fomulario_inicio div h1::after {
        /* content: "";
        display: block;
        width: 100px;
        height: 3px;
        background: #ffffff;
        margin: 10px auto; */
    }
    .fomulario_inicio div h2 {
        /* text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 30px;
        letter-spacing: 0.01em;
        color: #ffffff;
        margin-top: 20px; */
    }
    .fomulario_inicio div p {
        /* topo | direita | inferior | esquerda */
        /* margin: 16px auto 20px;
        width: 248px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #FFFFFF; */
    }
    .teste {
        margin: 0px 0px 0px 22%;
    }
    .teste label {
        /* display: block;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        
        letter-spacing: 0.01em;
        color: #FFFFFF; */
    }
    .teste input {
        /* topo | direita | inferior | esquerda */
        /* margin: 8px auto;
        border: 4px solid #FFFFFF;
        background: #FFFFFF;
        color: #000000;
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
        padding: 7px 10px;
        outline: none; */
    }
    .teste button {
        margin: 20px auto;
        width: 210px;
        padding: 15px 40px;
        background: none;
        border-radius: 10px;
        font-size: 18px;
        line-height: 24px;
        border: 2px solid #FFFFFF;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
    .texto-base {
        /* display: block; */
    }
    .texto-base h1 {
        /* width: 520px;
        height: 104px;
        left: 29px;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #00A053; */
    }
    .texto-base p {
        /* left: 117px;
        top: 290px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: #00A053; */
    }
    .quadrado {
        visibility: hidden;
        margin: 0 auto;
        width: 100%;
    }
    .quadrado h1 {
        font-size: 24px;
        line-height: 24px;
    }
    .texto-base {
        width: 100%;
        display: block;
    }
    /* .quadrado h1::after {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background: #00A053;
    margin: 10% auto;
} */
    .descritivo {
        margin: 0 auto;
    }
    .descritivo p {
        font-size: 14px;
    }
    .ilustracao {
        margin: 0 auto;
    }
    .ilustracao img {
        /* width: 340px;
        height: 297px; */
    }
}