/*Estilo para tablet*/

@media only screen and (min-width: 788px) and (max-width: 979px) {
    .qualidade:after {
        right: 66px;
    }
    .qualidade_lista li {
        padding: 0 10px;
    }
    .footer_redessociais ul li a {
        border: 3px solid #0A8F3B;
        display: block;
        padding: 6px;
    }
    .footer_redessociais ul li a img {
        width: 26px;
        height: 26px;
    }
    /*Prudots*/
    .produto_item h2 {
        top: -150px;
        text-align: center;
        margin-bottom: -56px;
    }
    .produto_icone {
        padding: 41px 0;
    }
    .produto_info p {
        font-size: 14px;
        line-height: 20px;
        height: 122px;
        padding: 20px 30px;
    }
    .produto_info ul li {
        background: #0A8F3B;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        float: left;
        width: 181px;
        height: 49px;
        text-align: center;
        padding-top: 16px;
    }
    .contato_mapa iframe {
        width: 700px;
        height: 600px;
    }
}


/*Estilo para SmartPhone*/

@media only screen and (max-width: 787px) {
    .Inicio {
        display: block;
    }
    .introducao img {
        margin: 75px 200px 75px 200px;
    }
    .introducao p {
        margin: 20px auto;
    }
    .fomulario_inicio div {
        margin: 20px auto;
        border: none;
    }
    .teste {
        margin: 0px 0px 0px 22%;
    }
    .fomulario_inicio div {
        /* topo | direita | inferior | esquerda */
        margin: 10px auto;
    }
    .ilustracao {
        margin-bottom: 10%;
    }
    .teste button {
        margin: 20px auto;
        width: 210px;
        padding: 15px 40px;
        background: none;
        border-radius: 10px;
        font-size: 18px;
        line-height: 24px;
        border: 2px solid #FFFFFF;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
    .quadrado {
        visibility: hidden;
        margin: 0 auto;
        width: 100%;
    }
    .quadrado h1 {
        font-size: 24px;
        line-height: 24px;
    }
    .texto-base {
        width: 100%;
        display: block;
    }
    .Depoimentos {
        margin: 0 auto;
    }
    .descritivo p {
        font-size: 14px;
    }
    .ilustracao {
        margin: 0 auto;
    }
    .ilustracao img {
        /* width: 340px;
        height: 297px; */
    }
}