@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.base {
    display: flex;
    width: 100%;
}

.introducao {
    display: block;
    width: 100%;
    /* height: 100vh; */
}

.introducao img {
    max-width: 50vw;
    margin: 56px 10% 10% 10%;
}

.introducao h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #00A053;
}

.introducao h2 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #00A053;
}

.introducao p {
    margin: 0 auto;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #00A053;
    width: 312px;
}

.fomulario_inicio {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #FFFFFF 0%, #00A053 68.75%, #00A053 100%);
}

.fomulario_inicio img {
    /* topo | direita | inferior | esquerda */
    margin: 50px 25% 20px 25%;
}

.fomulario_inicio div {
    /* topo | direita | inferior | esquerda */
    margin: 20px auto;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 437px;
}

.fomulario_inicio div h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-top: 16px;
}

.fomulario_inicio div h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #ffffff;
    margin: 10px auto;
}

.fomulario_inicio div h2 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-top: 20px;
}

.fomulario_inicio div p {
    /* topo | direita | inferior | esquerda */
    margin: 16px auto 20px;
    width: 248px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.teste {
    margin: 0px 20% 0px 20%;
}

.teste label {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.teste input {
    /* topo | direita | inferior | esquerda */
    margin: 8px auto;
    border: 4px solid #FFFFFF;
    background: #FFFFFF;
    color: #000000;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px 10px;
    outline: none;
}

.teste button {
    /* topo | direita | inferior | esquerda */
    margin: 20px 25% 20px;
    padding: 15px 40px;
    background: none;
    border-radius: 10px;
    font-size: 18px;
    line-height: 24px;
    border: 2px solid #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.form_contato {
    padding-right: 60px;
}

.form_contato label {
    display: block;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.form_contato input {
    display: block;
    width: 100%;
    border: 4px solid #fec63e;
    background: none;
    color: #000000;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
}

.form_contato button {
    background: none;
    padding: 7px 40px;
}

.texto-base {
    display: flex;
    width: 100%;
}

.texto-base h1 {
    width: 520px;
    height: 104px;
    left: 29px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #00A053;
}

.texto-base p {
    left: 117px;
    top: 290px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #00A053;
}

.quadrado {
    margin: 50px auto;
    width: 528px;
    height: 96px;
    left: 456px;
    top: 64px;
}

.quadrado h1 {
    height: 96px;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    /* or 83% */
    text-transform: uppercase;
    color: #00A053;
    margin-left: 10%;
    margin-top: 10%;
}


/* .quadrado h1::after {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background: #00A053;
    margin: 10% auto;
} */

.descritivo {
    padding: 0px 20px 0px 20px;
}

.ilustracao {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    width: 50%;
}

.ilustracao img {
    width: 340px;
    height: 297px;
}

.Depoimentos {
    margin-top: 100px;
    width: 100vw;
}

.Depoimentos h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    color: #00A053;
}

.Depoimentos h1::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background: #00A053;
    margin: 15px auto;
}

.video-container {
    text-align: center;
    margin-bottom: 10%;
}

.Rodape {
    display: flex;
    width: 100vw;
    height: 100px;
    background: #00A053;
}

.Rodape img {
    margin-top: 25px;
    margin-left: 25px;
}

.contato {
    width: 70px;
    height: 70px;
    background: #ffffff8f;
}

.Rodape ul li {
    display: inline-block;
    margin-top: 30px;
    margin-left: 25px;
}

.footer {
    width: 100%;
    background: #00A053;
    color: #ffffff;
    padding: 20px 0;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #ffffff;
    margin: 6px 0 10px 0;
}

.footer_historia {
    padding-right: 40px;
}

.footer_contato ul li {
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer_redessociais ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer_redessociais ul li a {
    border: 3px solid #ffffff;
    display: block;
    padding: 10px;
}

.footer_redessociais ul li a:hover {
    border-color: #ffffff;
}

.copy {
    width: 100%;
    background: #00A053;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}